*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color:#666;
    
}

[class*="col-"]{
    width: 100%;
    
    float: left;
}

/* EMPIEZA CONFIGURACION DEL HEDER--------------------------- */
header{
    position: sticky;
    top: 0;
    width: 100%;
}

p{
    display: inline-block;
    text-align: center;
    
    padding-left: 6px;
    font-size: 1em;
    
}

h1{
    display: inline-block;
    text-align: center;
    color: black;
    padding-left: 6px;
    font-size: 20px;

}

.fondo_1{
    background-color: #f8f8f8  
}
.borde_inf{
    border-bottom: 1px solid rgba(192, 186, 186, 0.664);;
    
}

.contenedor{
    display: flex;
    align-items: center;
}

.barra_3_stilo > div{
    
    margin: 10px;
    padding: 5px;
    font-size: 0.80em;
    align-items: center;
}

.fondo_2{
    background-color: #0053be;
}



.icono{
    width: 16px;
    height: 16px;
}
.logo{
    height: auto ;
    width: 100%;
}
div > a {
    
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    color: #fff;
 
  }

  .margen1{
      padding-left: 15px;
  }

  input[type=text], select {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .conf_tam_contenedor{
    height: 30px;
  }
  .conf_contenedor{
    justify-content: center; 
  }


  /* TERMINA CONFIGURACION DEL HEDER------------------------- */

  /* EMPIEZA EL SLIDER--------------------------------------------- */

  .slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
    animation: cambio 20s infinite alternate;
    
}


.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* TERMINA EL SLIDER---------------------------------- */


.conf_tam_2{
    margin: 75px;
    
}
.conf_tam_3>div{
   
    margin: 15px;
    
}


/*para tablet-------------------------------------------------------------------*/
@media only screen and (min-width: 600px){
    .col-t-1{ width: 8.33%;}
    .col-t-2{ width: 16.66%;}
    .col-t-3{ width: 25%;}
    .col-t-4{ width: 33.33%;}
    .col-t-5{ width: 41.66%;}
    .col-t-6{ width: 50%;}
    .col-t-7{ width: 58.33%;}
    .col-t-8{ width: 66.66%}
    .col-t-9{ width: 75%;}
    .col-t-10{ width: 83.33%;}
    .col-t-11{ width: 91.66%;}
    .col-t-12{ width: 100%;}
   
   
}
/*para escritorio---------------------------------------------------------------*/
@media only screen and (min-width: 768px){
    .col-1{ width: 8.33%;}
    .col-2{ width: 16.66%;}
    .col-3{ width: 25%;}
    .col-4{ width: 33.33%;}
    .col-5{ width: 41.66%;}
    .col-6{ width: 50%;}
    .col-7{ width: 58.33%;}
    .col-8{ width: 66.66%}
    .col-9{ width: 75%;}
    .col-10{ width: 83.33%;}
    .col-11{ width: 91.66%;}
    .col-12{ width: 100%;}
    .col-13{width: 11.11%;}
    .col-14{width: 20%; }

}
